# Copiez ce fichier en ".env" puis adaptez les valeurs.

# Clé API de tinyMediaManager (obligatoire)
TMM_API_KEY=

# Nom du conteneur tinyMediaManager (ou IP) et port de l'API HTTP
TMM_HOST=tinymediamanager:7878

# Réseau Docker partagé avec le conteneur tinyMediaManager
TMM_NETWORK=tmm_default

# Chemin des médias tel que le voit le conteneur tinyMediaManager
# (utile seulement si vous montez /media dans ce conteneur)
TMM_MEDIA_PATH=/media
